<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TypeTester</title>
    <link rel="stylesheet" href="typer.css">
</head>
<body>
    <header>Typetest</header>
<section class="controllers">
    <button id = "PlayPause"> Play </button>
    <select id = "difficulty">
        <option value="easy">EASY</option>
        <option value="normal">NORMAL</option>
        <option value="hard">HARD</option>
    </select>
    <select id = "time-up">
        <option value="30">30</option>
        <option value="60">60</option>
        <option value="120">120</option>
    </select>
</section>
<main>
    <div id=" QuoteDisplay"></div>
</main>


</body>
</html>