<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typer Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>Login here for TYPETEST!</header>
    <hr>
    <div>
        <label for="email">Email id:<input type="email" name="email" id ="email" placeholder="Enter Registered Email id "></label>
        <br>
        <label for="pass">Password:<input type="text" name="pass" id="pass" placeholder="Password"></label>
        <br>
        <label for="login"><button type="submit" id = "login">login</button></label>
        <br>
        Not registered yet? <a href="register.html">Register</a>
    </div>
</body>
</html>