<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TypeTest</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <header><h3>welcome to Narachi TypeTest!</h3></header>
    <fieldset>
        <legend>Registration form</legend>
        <label for="name">Enter username:<input type ="text" name="name" id ="name" placeholder="Username"></label><br>
        <label for="email">Email id:<input type="email" name="email" id ="email" placeholder="Enter Registered Email id "></label><br>
        <label for="pass">Password:<input type="text" name="pass" id="pass" placeholder="Password"></label><br>
        <label for="login"><button type="submit" id = "login">login</button></label><br>
    </fieldset>
</body>
</html>